<div class="row my-5">
    <div class ="col">
        <h1 class="text-center">도서검색</h1>
        <div id="div_books"></div>
    </div>
</div>
<script type="x-handlebars-templete" id="temp_books">
    <table class="table">
        {{#each documents}}
            <tr>
                <td><img src="{{thumnail}}" width="50"></td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{authors}}</td>
            </tr>
        {{/each}}
    </tabel>
</script>
<script>
    getBooks();
    //도서검색 데이터 불러오기
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization" : "KakaoAK 688523a7cf6b37ca3e30e58987b6094a"} ,
            data:{query:"노드", page:1, size:5},
            dataType:'json',
            success:function(data){
                //console.log(data);
                let temp=Handlebars.complie($("#temp_books").html());
                $("#div_books").html(temp(data));
            }
        })
            
    }
</script>